---
title: Resources related to FLOSS Foundations
layout: single
---

<ul>
{% for resources in site.resources %}
    {% if resources.title != "Resources related to FLOSS Foundations" %}
        <li><a href="{{ resources.url }}">{{ resources.title }}</a>
    {% endif %}
{% endfor %}
</ul>

