---
title: FLOSS Foundations Meetings
layout: single
---

<ul>
{% for meetings in site.meetings %}
    {% if meetings.title != "FLOSS Foundations Meetings" %}
        <li><a href="{{ meetings.url }}">{{ meetings.title }}</a>
    {% endif %}
{% endfor %}
</ul>

